.ava {
  width:120px;
  height : 110px ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 4px solid white;
}

ion-content{
  --ion-background-color:  #D9B44A !important;
}

.title{
  color:  #D9B44A !important;
}

.image{

  border: 2px solid white;
}