.ava {

  margin: auto;
  height: 150px;
  width: 150px;
   border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
  display: block;

  //width:150px;
  //height : 140px ;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //border: 1px solid white;
  //padding:5px;
  //margin-left:-6%;
}

//ion-content{
//  --ion-background-color:  #D9B44A !important;
//}

.title{
  color:  #D9B44A !important;
}

.image{

  border: 2px solid white;
}

